// THẰNG NÀY ĐỂ SỬA
@use "sass:map";
@import "./theme";
@import "./responsive";

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding-left: 15;
    padding-right: 15;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap; //kéo dài thì tự động dãn ra
}

.col_6 {
    flex: 0 0 50%;
    max-width: 50%;
}

@include Responsive($DESTOP) {
    .col_xl_3 {
        flex: 0 0 25%;
        max-width: 25%;
        color: rgb(11, 243, 81);
    }
}

.col_xl_6 {
    flex: 0 0 50%;
    max-width: 50%;
    color: rgb(60, 25, 185);

}

@include Responsive($MEDIUM_DEVICE) {
    .col_lg_3 {
        flex: 0 0 25%;
        max-width: 25%;
        color: red;
    }
}